<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>COVID-19 Cartogropher</title>
  <link rel="icon" href="favicon.ico">

  <!-- CSS Stylesheets -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
  
  <script>
  function togglePolicy() {
    let graph_type = document.getElementById("graph_type").value;
    if (graph_type == 'cases_results') {
      document.getElementById("policy").style.display = 'block';
    } else {
      document.getElementById("policy").style.display = 'none';
    }
  }
  </script>

</head>

<body class="text-center">
  <h1 class="cover-heading header-color">COVID-19 Cartogropher</h1>
  <form class="graph-1" action="graph_visualization" method="post">
    <div class="form-floating">
      <p>Select a state:</p>
      <select name="state_select" id="state_select">
        <option value='US_AL'>Alabama</option>
        <option value='US_AK'>Alaska</option>
        <option value='US_AZ'>Arizona</option>
        <option value='US_AR'>Arkansas</option>
        <option value='US_CA'>California</option>
        <option value='US_CO'>Colorado</option>
        <option value='US_CT'>Connecticut</option>
        <option value='US_DE'>Delaware</option>
        <option value='US_DC'>District Of Columbia</option>
        <option value='US_FL'>Florida</option>
        <option value='US_GA'>Georgia</option>
        <option value='US_HI'>Hawaii</option>
        <option value='US_ID'>Idaho</option>
        <option value='US_IL'>Illinois</option>
        <option value='US_IN'>Indiana</option>
        <option value='US_IA'>Iowa</option>
        <option value='US_KS'>Kansas</option>
        <option value='US_KY'>Kentucky</option>
        <option value='US_LA'>Louisiana</option>
        <option value='US_ME'>Maine</option>
        <option value='US_MD'>Maryland</option>
        <option value='US_MA'>Massachusetts</option>
        <option value='US_MI'>Michigan</option>
        <option value='US_MN'>Minnesota</option>
        <option value='US_MS'>Mississippi</option>
        <option value='US_MO'>Missouri</option>
        <option value='US_MT'>Montana</option>
        <option value='US_NE'>Nebraska</option>
        <option value='US_NV'>Nevada</option>
        <option value='US_NH'>New Hampshire</option>
        <option value='US_NJ'>New Jersey</option>
        <option value='US_NM'>New Mexico</option>
        <option value='US_NY'>New York</option>
        <option value='US_NC'>North Carolina</option>
        <option value='US_ND'>North Dakota</option>
        <option value='US_OH'>Ohio</option>
        <option value='US_OK'>Oklahoma</option>
        <option value='US_OR'>Oregon</option>
        <option value='US_PA'>Pennsylvania</option>
        <option value='US_RI'>Rhode Island</option>
        <option value='US_SC'>South Carolina</option>
        <option value='US_SD'>South Dakota</option>
        <option value='US_TN'>Tennessee</option>
        <option value='US_TX'>Texas</option>
        <option value='US_UT'>Utah</option>
        <option value='US_VT'>Vermont</option>
        <option value='US_VA'>Virginia</option>
        <option value='US_WA'>Washington</option>
        <option value='US_WV'>West Virginia</option>
        <option value='US_WI'>Wisconsin</option>
        <option value='US_WY'>Wyoming</option>
      </select>
      <br></br>
    </div>
    <div class="form-floating">
      <p>Choose type of graph:</p>
      <select name="graph_type" id="graph_type" onchange="togglePolicy()">
        <option value='cases_results'>Cases by State</option>
        <option value='cumulative_results'>Cumulative Vaccinations and New Hospitalizations by State</option>
        <option value='percentage_results'>Percentage Vaccinated versus Percentage Hospitilized</option>
      </select>
    </div>
    <div class="form-floating">
      <p>Choose a policy to track:</p>
      <select name="policy" id="policy">
        <option value="restrictions_on_gatherings = '4.00' AND restrictions_on_gatherings_flag = '1'">10 Person Gathering</option><option value="international_travel_controls = '4.00' AND school_closing_flag = '1'">Ban International Travel From High-Risk Regions</option>
        <option value="cancel_public_events = '2.00' AND cancel_public_events_flag = '1'">Cancel Public Events</option>
        <option value="close_public_transit = '2.00' AND close_public_transit_flag = '1'">Close Public Transit</option>
        <option value="restrictions_on_internal_movement = '2.00' AND restrictions_on_internal_movement_flag = '1'">Restrict Internal Movement</option>
        <option value="school_closing = '3.00' AND school_closing_flag = '1'">School Closing</option>
        <option value="stay_at_home_requirements = '2.00' AND stay_at_home_requirements_flag = '1'">Stay At Home</option>
        <option value="workplace_closing = '3.00' AND workplace_closing_flag = '1'">Workplace Closing</option>
      </select>
    </div>
    <button class="w-25 mt-4 btn btn-lg btn-success" type="submit">Submit</button>
  </form>


  <footer class="footer-stick">
    <div class="container inner">
      <p>©2021</p>
    </div>
  </footer>
</body>

</html>
